@import url("https://fonts.googleapis.com/css?family=Roboto:100italic,300italic,400italic,600italic,700italic,100,300,400,600,700");

/*
 * Landing
 *
 * Author: metheno
 * Website: https://blog.metheno.net/
 * Version: 0.0.1
 *
 * Copyright 2017 metheno
 */

/* Global */

body {
  color: rgba(80, 80, 80, 1);
  background: rgba(244, 244, 244, 0.8);
	font-family: 'Roboto', 'Pingfang SC', 'Microsoft Yahei', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  cursor: default;
	padding-top: 8px;
	color: #333;
	font-weight: 400;
	font-family: 'Roboto', 'Pingfang SC', 'Microsoft Yahei', sans-serif;
  -webkit-user-select: none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
}

h6 {
  font-size: 12px;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  line-height: 1.8;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

blockquote {
  padding-left: 15px;
  font-size: 16px;
  font-style: italic;
}

code {
  font-size: 13px;
  font-family: Consolas, Menlo, Monaco, "Courier New", sans-serif;
  margin: 3px;
}

pre {
  font-size: 14px;
  font-family: Consolas, Menlo, Monaco, "Courier New", sans-serif;
  font-weight: 400;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 5px rgba(80, 80, 80, 0.3);
  border: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Images */

img, video {
  display: block;
  margin: 20px 2px;
  position: relative;
  max-width: 100%;
  height: auto !important;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(80, 80, 80, 0.3);
  -webkit-user-select: none;
}

video {
  display: block;
  margin: 20px 2px;
  position: relative;
  max-width: 100%;
  height: auto !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 2px 5px rgba(80, 80, 80, 0.3);
}

/* Buttons */

.center-more {
  padding: 10px 0 20px 0;
}

.read-more {
  padding: 13px 50px;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 50px;
  color: inherit;
  background-color: rgba(244, 244, 244, 0);
  box-shadow: 0px 1px 3px rgba(80, 80, 80, 0.3);
  transition: all 0.2s;
}

.read-more:hover, .read-more:focus {
  color: inherit;
  background-color: rgba(244, 244, 244, 1);
  box-shadow: 0px 1px 3px rgba(80, 80, 80, 0.3);
}

.read-more:active {
  color: inherit;
  box-shadow: inset 0px 2px 5px rgba(80, 80, 80, 0.2);
}

.comment-submit {
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  color: inherit;
  background-color: rgba(244, 244, 244, 0);
  box-shadow: 0px 1px 3px rgba(80, 80, 80, 0.3);
  transition: all 0.2s;
}

.comment-submit:hover, .comment-submit:focus {
  color: inherit;
  background-color: rgba(244, 244, 244, 1);
  box-shadow: 0px 1px 3px rgba(80, 80, 80, 0.3);
}

.comment-submit:active {
  color: inherit;
  box-shadow: inset 0px 2px 5px rgba(80, 80, 80, 0.2);
}

/* Nav */

.blog-masthead {
  left: 50%;
  display: block;
  text-align: center;
	background-color: rgba(80, 80, 80, 1);
	box-shadow: inset 0px -10px 10px rgba(50, 50, 50, 0.5);
}

.blog-masthead::before {
  left: 50%;
  display: block;
  text-align: center;
	background-color: rgba(80, 80, 80, 1);
	box-shadow: inset 0px -10px 10px rgba(50, 50, 50, 0.5);
}

.blog-nav {
  padding-top: 0;
}

.blog-nav-item {
	position: relative;
	display: inline-block;
	padding: 17px 20px 15px 20px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 300;
  transition: all 0.3s;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

.blog-nav-item:focus,.blog-nav-item:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

.blog-nav .active {
	color: rgba(244, 244, 244, 1);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1)
}

.blog-nav .active:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	width: 0;
	height: 0;
	border-right: 5px solid transparent;
	border-bottom: 5px solid;
	border-left: 5px solid transparent;
	content: " ";
	vertical-align: middle;
}

/* Header */

.blog-header {
	padding-top: 30px;
	padding-bottom: 30px;
  text-align: center;
}

.blog-title {
	margin-top: 30px;
	margin-bottom: 0;
	font-weight: 100;
	font-size: 48px;
}

.blog-title a, .blog-title a:hover {
	color: rgba(80, 80, 80, 1);
  text-decoration: none;
}

.blog-description {
	color: #999;
	font-size: 18px;
}

.blog-main {
  padding: 40px;
	font-size: 15px;
	line-height: 1.5;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px rgba(80, 80, 80, 0.2);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Posts */

article {
  border-bottom: 2px solid rgba(100, 100, 100, 0.2);
  padding: 30px 0 20px 0;
}

article:first-of-type {
  padding-top: 0;
}

article:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.blog-post-title {
  padding-top: 0;
	margin-bottom: 5px;
	font-size: 30px;
  font-weight: 300;
  text-align: center;
}

h2.blog-post-title a {
	color: rgba(80, 80, 80, 1);
  text-decoration: none;
  transition: all 0.2;
}

h2.blog-post-title a:hover {
	color: rgba(60, 60, 60, 1);
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(80, 80, 80, 0.3);
}

.blog-post-meta {
	margin-bottom: 20px;
	color: rgba(80, 80, 80, 0.7);
  font-size: 15px;
  text-align: center;
}

/* Pagination */

nav {
  padding: 10px 0 0 0;
  text-align: center;
}

.pagination {
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(80, 80, 80, 0.3);
}

.pagination > li > a, .pagination > li > span {
  padding: 10px 13px 8.5px 13px;
  border: none;
  transition: all 0.2s;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
  border-radius: 3px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    border-radius: 3px;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover,
.pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: rgba(80, 80, 80, 0.7);
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd
}

/* Footer */

.blog-footer {
  display: block;
  overflow: hidden;
	padding: 30px 0;
	background-color: rgba(248, 248, 248, 0.8);
	color: rgba(80, 80, 80, 0.7);
	text-align: center;
  font-size: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.blog-footer p {
	line-height: 1;
}

.blog-footer p:last-child {
	margin-bottom: 0;
}

/* Archives */

.archive-title {
	padding-bottom: 10px;
  font-weight: 400;
  text-align: center;
}

/* Comments */

.avatar {
  padding: 0;
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
  border: 1px solid #rgba(80, 80, 80, 0.5);
  border-radius: 100%;
}

/* Friend Links */

/* Responsive */

@media screen and (min-width: 768px) {

	.container {
		width: 768px;
	}

  .blog-footer {
    position: relative;
    width: 100%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    box-shadow: 0px 0px 20px rgba(80, 80, 80, 0.3);
  }

}

@media screen and (max-width: 768px) {

  .container {
		width: 100%;
	}

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 15px;
    text-transform: uppercase;
  }

  h5 {
    font-size: 14px;
    text-transform: uppercase;
  }

  h6 {
    font-size: 13px;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
  }

  .blog-title {
  	margin-top: 30px;
  	margin-bottom: 0;
  	font-weight: 100;
  	font-size: 36px;
  }

  .blog-description {
  	color: #999;
  	font-size: 16px;
  }

  .blog-nav-item {
  	position: relative;
  	display: inline-block;
  	padding: 12px 15px 10px 15px;
  	color: rgba(255, 255, 255, 0.8);
  	font-weight: 300;
    transition: all 0.3s;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
  }

  .blog-post-title {
    font-size: 28px;
  }

  .blog-post-meta {
    font-size: 14px;
  }

  .blog-footer {
    width: 100%;
  	padding: 30px 0;
    border-radius: 0;
  }

}

.browsehappy {
  padding:8px 0;
  background:#FBE3E4;
  color:#8A1F11;
  text-align:center;
}

.browsehappy a {
  color:#8A1F11;
}
