/**
 * transparent.css
 *
 * Author     : metheno
 * Date       : 2017/02/11
 * Version    :
 * Description:
 */

@supports (-webkit-backdrop-filter: none) {

  body {
    color: rgba(255, 255, 255, 0.9);
    background-size: cover;
  }

  .blog-masthead {
  	background-color: rgba(60, 60, 60, 0.3);
    box-shadow: 0px 0px 20px rgba(80, 80, 80, 0.5);
    -webkit-backdrop-filter: blur(10px);
  }

  .blog-title, .blog-description {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  }

  .blog-title a, .blog-title a:hover {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  }

  h2.blog-post-title a {
  	color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }

  h2.blog-post-title a:hover {
  	color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  }

  h1, h2, h3, h4, h5, h6, p, a, .blog-nav-item, .blog-post-title {
  	color: inherit;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }

  a {
    text-decoration: underline;
    transition: all 0.2s;
  }

  a:hover, a:active {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
  }

  article {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  /* Pagination */

  .pagination {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin: 20px 0 0 0;
    -webkit-user-select: none;
  }

  .pagination > li > a, .pagination > li > span {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0);
  }

  .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus,
  .pagination > li > span:hover {
      color: rgba(255, 255, 255, 0.9);
      background-color: rgba(255, 255, 255, 0);
      text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 0);
  }

  .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
  .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
      background-color: rgba(255, 255, 255, 0);
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  }

  .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover,
  .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
      cursor: not-allowed;
      color: rgba(255, 255, 255, 0.4);
      background-color: rgba(255, 255, 255, 0);
      text-shadow: none;
      border-color: #ddd
  }

  /* Posts */

  .blog-main {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(100, 100, 100, 0.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
  }

  .blog-post-meta {
  	color: rgba(255, 255, 255, 0.9);
  }

  .blog-footer {
    color: rgba(255, 255, 255, 0.9);
  	background-color: rgba(100, 100, 100, 0.1);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }

  /* Misc */

  .text-muted {
    color: rgba(255, 255, 255, 1);
  }

  /* Input */
  .form-control {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.2s;
  }
  .form-control:focus {
    border-color: rgba(255, 255, 255, 0);
    outline: 0;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
  }
  .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
  .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  /* Button */

  .btn-theme {
    padding: 13px 50px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .btn-theme:focus, .btn-theme.focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .btn-theme:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .btn-theme:active, .btn-theme.active, .open > .dropdown-toggle.btn-theme {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .btn-theme:active:hover, .btn-theme.active:hover, .open > .dropdown-toggle.btn-theme:hover,
  .btn-theme:active:focus, .btn-theme.active:focus, .open > .dropdown-toggle.btn-theme:focus,
  .btn-theme:active.focus, .btn-theme.active.focus, .open > .dropdown-toggle.btn-theme.focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .btn-theme:active, .btn-theme.active, .open > .dropdown-toggle.btn-theme {
    background-image: none;
  }

  .btn-transparent {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .btn-transparent:focus, .btn-transparent.focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .btn-transparent:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .btn-transparent:active, .btn-transparent.active, .open > .dropdown-toggle.btn-transparent {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .btn-transparent:active:hover, .btn-transparent.active:hover, .open > .dropdown-toggle.btn-transparent:hover,
  .btn-transparent:active:focus, .btn-transparent.active:focus, .open > .dropdown-toggle.btn-transparent:focus,
  .btn-transparent:active.focus, .btn-transparent.active.focus, .open > .dropdown-toggle.btn-transparent.focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .btn-transparent:active, .btn-transparent.active, .open > .dropdown-toggle.btn-transparent {
    background-image: none;
  }

  .btn-rounded {
    border-radius: 50px;
  }
}
